<div class="row">
  <h1 class="text-center">Can I Bring My Grandma?</h1>
    <div class="col-md-6 col-md-offset-3">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% @photos.each_with_index do |photo, index| %>
          <li data-target="#carousel" data-slide-to="<%= index %>" class=<%= "active" if index == 0 %>></li>
        <% end %>
      </ol>
      <div class="carousel-inner" role="listbox">
        <% @photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= "active" if index == 0 %>">
            <%= image_tag photo.image_url(:original), class: "img-responsive" %>
          </div>
        <% end %>
      </div>
      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <br />
    <p class="text-center">Find out what the internet thinks!</p>
    <div class="col-md-3">
      <%= link_to "Yes", answer_photos_path, class: "btn btn-success btn-lg btn-block" %>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
        <%= link_to "No", answer_photos_path, class: "btn btn-danger btn-lg btn-block" %>
    </div>
  </div>
</div>
