<div class="col-sm-6 col-sm-offset-3">
  <div class="light well">
    <h1 class="text-center">Can You Bring Your Grandma?</h1>
      <%= form_for @photo, multipart: true, remote: true do |f|%>
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <div class="form-group">
          <%= f.label :image, "Upload a photo of a place you're not sure you can bring your grandma." %>
          <%= f.file_field :image, name: "file", class: "form-control"%>
        </div>
        <div class="form-group">
          <div id="image-preview">
          </div>
        </div>
        <div class="form-group">
          <%= f.text_field :location, placeholder: "Where is this?", class: "form-control" %>
        </div>
        <%= f.hidden_field :cached_image_data %>

        <% if @photo.image_data? %>
          <div id="image-preview">
            <%= image_tag @photo.image_url(:thumb) %>
          </div>
          <div>
            Remove attachment: <%= f.check_box :remove_image %>
          </div>
        <% end %>

        <%= f.submit "Find Out!", class: "btn btn-lg btn-block btn-info" %>
      <% end %>
    </div>
  </div>
</div>

<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    <p>{%=o.name%}:</p>
    <div id="progress" class="progress">
      <div class="progress-bar progress-bar-success"></div>
    </div>
  </div>
</script>

<script>
  $(function() {
    $('[type=file]').fileupload({
      add: function(e, data) {
        $.getJSON('/photos/images/cache/presign', function(result) {
          data.formData = result['fields'];
          data.url = result['url'];
          data.submit();
        });
      },
      done: function(e, data) {
        var image = {
          id: data.formData.key.match(/\w+$/)[0],
          storage: 'cache',
          metadata: {
            size:      data.files[0].size,
            filename:  data.files[0].name,
            mime_type: data.files[0].type
          }
        }
        $.ajax("/photos", {method: 'POST', data: {photo: {image: JSON.stringify(image)}}})
          .done(function(data) { $("ul").append(data) })
      }
    });
  });
</script>
